# Visual Studio
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db

# Compiled files
*.o
*.obj
*.dll
*.exe

# --- UNREAL ENGINE KRITIK KLASORLER ---
# Basina ** koyduk ki alt klasorlerde de ise yarasin

**/Binaries/
**/Build/
**/DerivedDataCache/
**/Intermediate/
**/Saved/

# Ozel dosyalar
*_BuiltData.uasset